body {
    text-align: center;
    background-color: deepskyblue;
}

div {
    margin-top: 15px;
    justify-content: center;
}

.image-section: {
    display: flex;
    justify-content: center;
}

.style-section: {
    margin-left: 25px;
    margin-right: 25px;
    background-color: white;
}
